<div class="nsh-portfolio-header">
    <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <section>
                <div class="col-sm-4 col-xs-12">
                    <div class="nsh-portfolio-header-left">
                        <img src="http://lorempixel.com/480/640/people" width="250" height="250">
                    </div>
                </div>
                <div class="col-sm-8 col-xs-12">
                    <div class="nsh-portfolio-header-data">
                        <h1>Hayley H 
                            <img title="Verified User" src="../../assets/img/verified_user.png" width="35" height="35"> </h1><br/>
                        <div class="nsh-portfolio-header-data-skills">
                            <div><span>Actor, Dancer</span></div>
                        </div><br/>
                        <div class="clearfix"></div>
                        <div class="nsh-portfolio-header-data-location">
                            <div><span>Ikeja, Lagos</span></div>
                        </div>
                        <div class="nsh-portfolio-edit-link"><span routerLink="/portfolio/edit"><md-icon>edit</md-icon>...edit portfolio</span></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </div>
</div>
<div class="nsh-container">
        <div class="nsh-verification-section">
                <div class="row">
                    <div class="col-sm-12">
                <table>
                <tr>
                    <td>
                        <md-icon>desktop_windows</md-icon>
                        <br/>
                        <span class="nsh-opacity">Social Verification</span>
                    </td>
                    <td>
                        <md-icon>phone_iphone</md-icon>
                        <br/>
                        <span class="nsh-opacity">Phone Verification</span>
                    </td>
                    <td>
                        <md-icon>verified_user</md-icon>
                        <br/>
                        <span class="nsh-opacity">ID Verification</span>
                    </td>
                </tr>
                <tr>
                    <td><md-icon>check</md-icon></td>
                    <td><md-icon>check</md-icon></td>
                    <td><md-icon>check</md-icon></td>
                </tr>
                </table>
                    </div>
                </div>
        </div>
        <div class="container">
            <div class="nsh-bio-section">
                <p>Sydney based Model and Actress. I have a passion for the Arts industry and have had a range of experience behind the Camera. Projects ranging from Commercial, Music Video, Theatre, Film, Television, Campaigns, Editorial and Online Store experience. I am confident and bubbly aiming to meet the individual needs of each job. Paid work only.</p>
                <p>...This is all visible content... 
                <a id="example-show" class="showLink" 
                onclick="showHide('example');return false;">See more.</a>
                </p>
                <div id="example" class="more">
                    <p>...This content is hidden by default...</p>
                    <p><a id="example-hide" class="hideLink" 
                    onclick="showHide('example');return false;">Hide this content.</a></p>
                </div>
            </div>
            <div class="nsh-portfolio-section">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-sm-3 col-xs-12">
                        <div class="nsh-view-menu">
                            <div class="nsh-view-menu-item text-center" [ngClass]="{'active': selected==='photos'}" (click)="selected='photos';">
                                <span class="nsh-opacity">Photos</span>
                            </div>
                            <div class="nsh-view-menu-item text-center" [ngClass]="{'active': selected==='videos'}" (click)="selected='videos';">
                                <span class="nsh-opacity">Videos</span>
                            </div>
                            <div class="nsh-view-menu-item text-center" [ngClass]="{'active': selected==='voice_clips'}" (click)="selected='voice_clips';">
                                <span class="nsh-opacity">Voice Clips</span>
                            </div>
                            <div class="nsh-view-menu-item text-center" [ngClass]="{'active': selected==='credits'}" (click)="selected='credits';">
                                <span class="nsh-opacity">Credits</span>
                            </div>
                             <div class="nsh-view-menu-item text-center" [ngClass]="{'active': selected==='physic'}" (click)="selected='physic';">
                                <span class="nsh-opacity">Physical Details</span>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-9 col-xs-12">
                        <!-- Photos view section -->
                        <div class="nsh-view-section-content"  [ngClass]="{'active': selected==='photos'}">
                            <nsh-view-section-photos></nsh-view-section-photos>
                        </div>
                        <!-- Videos view section -->
                        <div class="nsh-view-section-content" [ngClass]="{'active': selected==='videos'}">
                            <nsh-view-section-videos></nsh-view-section-videos>
                        </div>
                        <!-- Voice clips view section -->
                        <div class="nsh-view-section-content" [ngClass]="{'active': selected==='voice_clips'}">
                            <nsh-view-section-voiceclips></nsh-view-section-voiceclips>
                        </div>
                        <!-- Credits view section -->
                        <div class="nsh-view-section-content" [ngClass]="{'active': selected==='credits'}">
                            <nsh-view-section-credits></nsh-view-section-credits>
                        </div>
                        <!-- Physical Details view section -->
                        <div class="nsh-view-section-content" [ngClass]="{'active': selected==='physic'}">
                            <nsh-view-section-physic></nsh-view-section-physic>
                        </div>
                        
                        </div>
                    </div>

    </div>
            </div>
        </div>



</div>