<!--<nav class="nsh-nav-bar">
  <div class="nsh-nav-menu">
     <a class="nsh-nav-menu-item" md-button routerLink="/">Home</a>
     <a class="nsh-nav-menu-item" md-button routerLink="/sample">Sample Page</a>
  </div>
</nav>-->

<nsh-nav></nsh-nav>

	<section class="nsh-hero">
		<div class="nsh-full-width">
			<h2>Find Talent</h2>
			<p>Find the perfect match for your upcoming projects.</p>
			<a href="#0" md-raised-button color="primary">Start</a>
			<a href="#0" class="nsh-btn secondary">Learn More</a>
		</div> <!-- .nsh-full-width -->
	</section> <!-- .nsh-hero -->

   