.nsh-profile{
    padding: 10px;
}

@media all and ( min-width: 991px ) {
    .nsh-profile{
    width: 80%;
    }
}

@media all and ( min-width: 1200px ) {
    .nsh-profile{
    width: 60%;
    }
}

.nsh-profile-header table {
    font-size: 60%;
    text-align: center;
}

.nsh-profile-header table td {
    padding: 0px 5px;
}

.nsh-verification-section {
    font-size: 12px;
    
    padding-bottom: 10px;
    
}

.nsh-verification-section md-icon {
    font-size: 15px;
    font-weight: bold;
    width: 15px;
    height: 15px;
}

.nsh-verification-section td {
    border-right: 1px solid #dddddd;
}


md-card.nsh-profile-pic-section {
    padding: 0px;
}

md-card.nsh-profile-pic-section img {
    margin: 0px 0px 0px 0px;
    max-height: 290px;
}

.nsh-portfolio-section {
    padding: 10px 20px;
    text-align: left;
    line-height: 25px;
    margin: 0 auto;
    opacity: 0.8;
}

.nsh-profile-content {
    padding: 10px;
    font-size: 16px;
    border-top: 1px solid #FF5722;
    border-bottom: 1px solid #FF5722;
}

.nsh-skill-list-section {
    
}

.nsh-social-icons-section {
    padding-top: 10px;
}

.nsh-location-section, .nsh-email-section {
    padding-top: 5px;
    opacity: 0.5;
    vertical-align: middle;
}

.nsh-profile-content md-icon {
    font-size: 18px;
    width: 20px;
    height: 18px;
    display: block;
}

.nsh-social-icons-section {
    padding-top: 10px;
}

.nsh-social-icons-section img {
    width: 20px;
    height: 20px;
}

.nsh-profile-footer {
    padding: 10px;
}

.nsh-profile-footer table tr td {
    padding: 0px 10px 0px 10px;
    text-align: center;
}

.nsh-profile-footer .nsh-profile-footer-numbers {
    color: #FF5722;
    font-weight: bold;
}

.nsh-profile-footer .nsh-profile-footer-topics {
    opacity: 0.5;
}





