<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-sm-3 col-xs-12">
          <div class="nsh-edit-menu">
            <div class="nsh-edit-menu-item text-center" [ngClass]="{'active': selected==='profile'}" (click)="selected='profile';">
                <span class="nsh-opacity">Profile</span>
            </div>
            <div class="nsh-edit-menu-item text-center" [ngClass]="{'active': selected==='physic'}" (click)="selected='physic';">
                <span class="nsh-opacity">Physic</span>
            </div>
            <div class="nsh-edit-menu-item text-center" [ngClass]="{'active': selected==='media'}" (click)="selected='media';">
                <span class="nsh-opacity">Media</span>
            </div>
            <div class="nsh-edit-menu-item text-center" [ngClass]="{'active': selected==='experience'}" (click)="selected='experience';">
                <span class="nsh-opacity">Experience</span>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-xs-12">
          <!-- profile edit section -->
          <div class="nsh-edit-section-content"  [ngClass]="{'active': selected==='profile'}">
              <nsh-edit-section-profile></nsh-edit-section-profile>
          </div>
          <!-- Physic edit section -->
          <div class="nsh-edit-section-content" [ngClass]="{'active': selected==='physic'}">
              <nsh-edit-section-physic></nsh-edit-section-physic>
          </div>
          <!-- Media edit search -->
          <div class="nsh-edit-section-content" [ngClass]="{'active': selected==='media'}">
              <nsh-edit-section-media></nsh-edit-section-media>
          </div>
          <!-- Experience edit search -->
          <div class="nsh-edit-section-content" [ngClass]="{'active': selected==='experience'}">
              <nsh-edit-section-experience></nsh-edit-section-experience>
          </div>
          
        </div>
      </div>

    </div>

</div>