<div class="container">
    <div class="nsh-login">
      <md-card>
  <md-card-title>Sign In</md-card-title>
    <form>
        <div class="nsh-login-form-content">
        
        <md-input placeholder="Username" required>
            <span md-prefix>
            <i class="material-icons app-input-icon">perm_identity</i>
            &nbsp;
            </span>
        </md-input><br/>
        <md-input type="password" placeholder="Password" required>
            <span md-prefix>
            <i class="material-icons app-input-icon">lock</i>
            &nbsp;
            </span> 
            
        </md-input><br/>
        </div>
        <div class="nsh-login-form-submit">
            <button md-raised-button color="primary" style="float:right;">Sign In</button>
            <a routerLink=''>Cancel</a>
        </div>
    </form><br/>
    <div class="nsh-login-form-footer clear-fix">
            <p>Don't have an account? Then <a routerLink='/register'>register here</a>.</p>
    </div>
    </md-card>
    </div>
</div>