/* -------------------------------- 

Header Main Components

-------------------------------- */
.nsh-header {
  position: fixed;
  /*z-index: 2;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 850px) {
  .nsh-header {
    height: 70px;
    background-color: white;
    position: fixed;
    z-index: 2;
  }
}

#nsh-logo {
  float: left;
  margin: 13px 0 0 5%;
}
#nsh-logo img {
  display: block;
}
@media only screen and (min-width: 850px) {
  #cd-logo {
    margin: 23px 0 0 5%;
  }
}

.nsh-nav-small-screen {
  float: right;
  background: none;
  margin-right: 20px;
}

.nsh-nav-large-screen {
    width: auto;
    height: auto;
    background: none;
    float: right;
}

.nsh-nav-large-screen ul {
    position: static;
    width: auto;
    line-height: 70px;
}

.nsh-nav-large-screen ul li {
    display: inline-block;
    margin-left: 1em;
    height: auto;
    font-weight: 600;
    line-height: normal;
    background: white;
    padding: .6em 1em;
    border-top: none;
}
  
.nsh-header-divider {
  height: 60px;
}