<div class="container">
    <div class="nsh-login">
      <md-card>
  <md-card-title>Sign In</md-card-title>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="nsh-login-form-content">
        
        <md-input placeholder="EmailAddress" [(ngModel)]="emailAddress" name="emailAddress" required>
            <span md-prefix>
            <i class="material-icons app-input-icon">email</i>
            &nbsp;
            </span>
        </md-input><br/>
        <md-input type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
            <span md-prefix>
            <i class="material-icons app-input-icon">lock</i>
            &nbsp;
            </span> 
            
        </md-input><br/>
        </div>
        <div class="nsh-login-form-submit">
            <div style="float:right;">
            <md-progress-spinner *ngIf="spin" class="nsh-app-spinner-sm" mode="indeterminate" color="accent"></md-progress-spinner>
            <button md-raised-button color="primary" [disabled]="!loginForm.form.valid || submitted">Sign In</button>
            </div>
            <a routerLink=''>Cancel</a>
        </div>
    </form><br/>
    <div class="nsh-login-form-footer clear-fix">
            <p>Don't have an account? Then <a routerLink='/register'>register here</a>.</p>
    </div>
    </md-card>
    </div>
</div>