/* -------------------------------- 

Header Main Components

-------------------------------- */
.navbar {
  background-color: white;
  border-bottom: 3px solid #F44336;
  padding-bottom: 0px;
}

.navbar-brand {
  margin-bottom: 5px;
}

.navbar ul {
    margin-bottom: 0px;
    display: inline-block;
}

.navbar ul li {
    padding: 5px;
}

.navbar ul li a {
    padding: 5px;
}

.navbar ul li a.active {
    border-bottom: 2px solid #F44336;
    background-color: #FFF0F2;
}
  
.nsh-header-divider {
  height: 60px;
}

.nsh-hide-menu-item {
  display: none;
}