/* -------------------------------- 

Header Main Components

-------------------------------- */
.navbar {
  background-color: #FF5722;
  padding-bottom: 10px;
  color: white;
  z-index: 2;
}

.navbar-brand {
  margin-bottom: 5px;
}

.navbar ul {
    margin-bottom: 0px;
    display: inline-block;
}

.navbar ul li {
    padding: 5px;
}

.navbar ul li a {
    padding: 5px;
    color: white;
}

.navbar ul li a.active {
    border-bottom: 2px solid #FF5722;
    background-color: #FFF0F2;
}
  
.nsh-header-divider {
  height: 60px;
}

.nsh-hide-menu-item {
  display: none;
}

.nsh-navbar-dropdown-menu {
  font-size: 12px;
}

md-icon.nsh-account-icon {
  font-size: 30px;
  color: white;
}

.btn-outline-primary {
  border-color: white;
}

.btn-outline-primary:hover {
  background-color: #76FF03;
  border-color: white;
}

.nsh-navbar-col {
  padding-right: 50px;
}

