

<nav class="navbar navbar-light bg-faded fixed-top">
	<div class="row">
		<div class="col-6">
	<a class="navbar-brand" href="#"><img alt="Brand" src="assets/img/cd-logo.svg" ></a>
		</div>
		<div class="col-6 nsh-navbar-col">
	<div ngbDropdown [hidden]="!isLoggedIn()" class="d-inline-block nsh-float-right">
      <button [hidden]="!isLoggedIn()" class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>
		  <md-icon class="nsh-account-icon">account_circle</md-icon>
		</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
		<a class="dropdown-item nsh-navbar-dropdown-menu" *ngFor="let menuItem of menuItems" [routerLinkActive]="['active']" [routerLink]="menuItem.route" >{{menuItem.name}}</a>
		<a class="dropdown-item nsh-navbar-dropdown-menu" (click)="logOut()">Sign out</a>
      </div>
    </div>
	
	<ul class="nsh-float-right"><li><a [hidden]="isLoggedIn()" class="nav-link nsh-float-right" routerLink="/login" [routerLinkActive]="['nsh-hide-menu-item']">Log In</a></li></ul>
	<button [hidden]="isLoggedIn()" type="button" class="navbar-btn nsh-float-right" md-raised-button color="accent" routerLink="/register" [routerLinkActive]="['nsh-hide-menu-item']">Join free</button>
		</div>
	</div>
</nav>
