<nav class="navbar navbar-light bg-faded navbar-fixed-top">
	<a class="navbar-brand" href="#"><img alt="Brand" src="assets/img/cd-logo.svg" ></a>
	
	<div [hidden]="!isLoggedIn()" class="float-xs-right">
		<button md-icon-button [mdMenuTriggerFor]="menu">
			<md-icon class="nsh-account-icon">account_circle</md-icon>
		</button>
		<md-menu  #menu="mdMenu" class="nsh-nav-dropdown-menu">
			<a md-menu-item *ngFor="let menuItem of menuItems" [routerLinkActive]="['active']" [routerLink]="menuItem.route" >{{menuItem.name}}</a>
			<a md-menu-item (click)="logOut()">Sign out</a>
		</md-menu>
	</div>
	<ul [hidden]="isLoggedIn()" class="float-xs-right"><li class="nav-item"><a class="nav-link" routerLink="/login" [routerLinkActive]="['nsh-hide-menu-item']">Log In</a></li></ul>
	<button [hidden]="isLoggedIn()" type="button" class="navbar-btn float-xs-right" md-raised-button color="accent" routerLink="/register" [routerLinkActive]="['nsh-hide-menu-item']">Join free</button>
</nav>
