.nsh-home-content {
    margin: 50px auto;
    width: 40%;
    padding-bottom: 20px;
}

@media all and ( min-width: 750px ) {
    .nsh-home-content {
    width: 90%;
    }
}

@media all and ( min-width: 1150px ) {
    .nsh-home-content {
    width: 80%;
    }
}

@media all and ( min-width: 1450px ) {
    .nsh-home-content {
    width: 75%;
    }
}

@media all and ( min-width: 1800px ) {
    .nsh-home-content {
    width: 60%;
    }
}

.nsh-grid {
    padding: 0px;
}
.nsh-grid-content {
    padding: 5px 0px 5px 0px;
    margin: 0px;
    border-top: 2px solid #EEEEEE;
}

.nsh-grid-header {
    padding: 0px 24px 5px 24px;
    margin: 0px;
}

.nsh-grid img {
    margin: 0px 0px 20px 0px;
    max-height: 290px;
}

.nsh-grid-action {
    padding: 0px;
    margin: 0px;
}

.nsh-grid-action button {
    width: 100%;
    align-content: center;
}

.nsh-grid-content .nsh-grid-content-item {
    padding: 5px 10px;
    width: 33%;
    float: left;
    margin: 0px;
    align-content: center;
}

.nsh-grid-content-item span {
    float: left;
    padding: 5px 10px;
    align-content: center;
}

.nsh-grid-content-item md-icon {
    color:#BDBDBD;
}

.material-icons.md-dark { 
    color: rgba(0, 0, 0, 0.54); 
    float: left;
}
.material-icons.md-dark.md-inactive { 
    color: rgba(0, 0, 0, 0.26); 
}

