<nsh-hero></nsh-hero>
<div class="nsh-home-content">
    <section class="nsh-section">
        <h3>Featured Talent</h3>
        <div class="nsh-row clearfix">
            <div class="col-1-4">
                <md-card class="nsh-grid">
                    <img md-card-image src="http://lorempixel.com/480/640/sports">
                    <md-card-header class="nsh-grid-header">
                        <md-card-title>Header title</md-card-title>
                        <md-card-subtitle>&#9733;&#9733;&#9733;&#9733;&#9733;</md-card-subtitle>
                    </md-card-header>
                    <md-card-content class="nsh-grid-content">
                        <div class="nsh-grid-content-item">
                            <md-icon>photo_library</md-icon> 
                            <span >5</span>
                        </div>
                        <div class="nsh-grid-content-item">
                            <md-icon>video_library</md-icon> 
                            <span >5</span>
                        </div>
                        <div class="nsh-grid-content-item">
                            <md-icon>library_music</md-icon> 
                            <span >5</span>
                        </div>
                    </md-card-content> 
                    <md-card-actions class="nsh-grid-action">
                        <button md-raised-button color="primary">CONTACT</button>
                    </md-card-actions>
                </md-card>
            </div>
            <div class="col-1-4">
                <md-card class="nsh-grid">
                    <img md-card-image src="http://lorempixel.com/480/640/sports">
                    <md-card-header class="nsh-grid-header">
                        <md-card-title>Header title</md-card-title>
                        <md-card-subtitle>&#9733;&#9733;&#9733;&#9733;&#9733;</md-card-subtitle>
                    </md-card-header>
                    <md-card-content class="nsh-grid-content">
                        <div class="nsh-grid-content-item">
                            <md-icon >photo_library</md-icon> 
                            <span >5</span>
                        </div>
                        <div class="nsh-grid-content-item">
                            <md-icon>video_library</md-icon> 
                            <span >5</span>
                        </div>
                        <div class="nsh-grid-content-item">
                            <md-icon>library_music</md-icon> 
                            <span >5</span>
                        </div>
                    </md-card-content> 
                    <md-card-actions class="nsh-grid-action">
                        <button md-raised-button color="primary">CONTACT</button>
                    </md-card-actions>
                </md-card>
            </div>
            <div class="col-1-4">
                <md-card class="nsh-grid">
                    <img md-card-image src="http://lorempixel.com/480/640/people">
                    <md-card-header class="nsh-grid-header">
                        <md-card-title>Header title</md-card-title>
                        <md-card-subtitle>&#9733;&#9733;&#9733;&#9733;&#9733;</md-card-subtitle>
                    </md-card-header>
                    <md-card-content class="nsh-grid-content">
                        <div class="nsh-grid-content-item">
                            <md-icon>photo_library</md-icon> 
                            <span >5</span>
                        </div>
                        <div class="nsh-grid-content-item">
                            <md-icon>video_library</md-icon> 
                            <span >5</span>
                        </div>
                        <div class="nsh-grid-content-item">
                            <md-icon>library_music</md-icon> 
                            <span >5</span>
                        </div>
                    </md-card-content> 
                    <md-card-actions class="nsh-grid-action">
                        <button md-raised-button color="primary">CONTACT</button>
                    </md-card-actions>
                </md-card>
            </div>
            <div class="col-1-4">
                <md-card class="nsh-grid">
                    <img md-card-image src="http://lorempixel.com/480/640/people">
                    <md-card-header class="nsh-grid-header">
                        <md-card-title>Header title</md-card-title>
                        <md-card-subtitle>&#9733;&#9733;&#9733;&#9733;&#9733;</md-card-subtitle>
                    </md-card-header>
                    <md-card-content class="nsh-grid-content">
                        <div class="nsh-grid-content-item">
                            <md-icon>photo_library</md-icon> 
                            <span >5</span>
                        </div>
                        <div class="nsh-grid-content-item">
                            <md-icon>video_library</md-icon> 
                            <span >5</span>
                        </div>
                        <div class="nsh-grid-content-item">
                            <md-icon>library_music</md-icon> 
                            <span >5</span>
                        </div>
                    </md-card-content> 
                    <md-card-actions class="nsh-grid-action">
                        <button md-raised-button color="primary">CONTACT</button>
                    </md-card-actions>
                </md-card>
            </div>
        </div><!-- /.row -->
    </section>
</div>
