<div class="container">
    <div class="row">
        <div class="col-md-3">
          <div class="nsh-edit-menu">
            <div class="nsh-edit-menu-item text-center" [ngClass]="{'active': selected==='profile'}" (click)="selected='profile';">
                <span class="nsh-opacity">Profile</span>
            </div>
            <div class="nsh-edit-menu-item text-center" [ngClass]="{'active': selected==='physic'}" (click)="selected='physic';">
                <span class="nsh-opacity">Physic</span>
            </div>
            <div class="nsh-edit-menu-item text-center" [ngClass]="{'active': selected==='photos'}" (click)="selected='photos';">
                <span class="nsh-opacity">Photos</span>
            </div>
            <div class="nsh-edit-menu-item text-center" [ngClass]="{'active': selected==='videos'}" (click)="selected='videos';">
                <span class="nsh-opacity">Videos</span>
            </div>
            <div class="nsh-edit-menu-item text-center" [ngClass]="{'active': selected==='audios'}" (click)="selected='audios';">
                <span class="nsh-opacity">Audios</span>
            </div>
            <div class="nsh-edit-menu-item text-center" [ngClass]="{'active': selected==='experience'}" (click)="selected='experience';">
                <span class="nsh-opacity">Experience</span>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <!-- profile edit section -->
          <div class="nsh-edit-section-content"  [ngClass]="{'active': selected==='profile'}">
              <nsh-edit-section-profile [userId]="userId"></nsh-edit-section-profile>
          </div>
          <div class="nsh-divider"></div>
          <!-- Physic edit section -->
          <div class="nsh-edit-section-content" [ngClass]="{'active': selected==='physic'}">
              <nsh-edit-section-physic></nsh-edit-section-physic>
          </div>
          <div class="nsh-divider"></div>
          <!-- Photo edit section -->
          <div class="nsh-edit-section-content" [ngClass]="{'active': selected==='photos'}">
              <nsh-edit-section-photo></nsh-edit-section-photo>
          </div>
          <div class="nsh-divider"></div>
          <!-- Video edit section -->
          <div class="nsh-edit-section-content" [ngClass]="{'active': selected==='videos'}">
              <nsh-edit-section-video></nsh-edit-section-video>
          </div>
          <div class="nsh-divider"></div>
          <!-- Audio edit section -->
          <div class="nsh-edit-section-content" [ngClass]="{'active': selected==='audios'}">
              <nsh-edit-section-audio></nsh-edit-section-audio>
          </div>
          <div class="nsh-divider"></div>
          <!-- Experience edit section -->
          <div class="nsh-edit-section-content" [ngClass]="{'active': selected==='experience'}">
              <nsh-edit-section-experience></nsh-edit-section-experience>
          </div>
          
        </div>

    </div>

</div>