<div class="container">
    <div class="nsh-register">
        <h3>Join Naija Skill Hub</h3>
        <div class="row">
            <div class="col-xs-12">
                <div class="col-sm-6 col-xs-12">
                    <p>Looking to be discovered? <a (click)="selected='talent';">Register as a Talent</a></p>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p>Looking for talent? <a (click)="selected='hunter';">Register as a Talent Hunter</a></p>
                </div>
            </div>
        </div>
    

    <md-card>
  <md-card-title>Talent Registration</md-card-title>
    <form>
        <div class="nsh-register-form-content">
            <div>
                <md-select placeholder="Member Type" name="accountType" ngModel required>
                    <md-option value="talent" selected>Talent</md-option>
                    <md-option value="hunter">Hunter</md-option>
                </md-select>
                &nbsp;&nbsp;&nbsp;
                <md-select placeholder="Gender" name="gender" ngModel required>
                    <md-option value="male">Male</md-option>
                    <md-option value="female" selected>Female</md-option>
                </md-select>
            </div>
            <md-input placeholder="First name" required>
                <span md-prefix>
                <i class="material-icons app-input-icon">person_pin</i>
                &nbsp;
                </span>     
            </md-input><br/>
            <md-input placeholder="Last name" required>
                <span md-prefix>
                <i class="material-icons app-input-icon">person_pin</i>
                &nbsp;
                </span>      
            </md-input><br/>
            <md-input type="email" placeholder="EmailAddress" required>
                <span md-prefix>
                <i class="material-icons app-input-icon">email</i>
                &nbsp;
                </span>    
            </md-input><br/>
            <md-input placeholder="Username" required>
                <span md-prefix>
                <i class="material-icons app-input-icon">perm_identity</i>
                &nbsp;
                </span>
            </md-input><br/>
            <md-input type="password" placeholder="Password" required>
                <span md-prefix>
                <i class="material-icons app-input-icon">lock</i>
                &nbsp;
                </span> 
            </md-input><br/>
        </div>
        <div class="nsh-register-form-submit">
            <button md-raised-button color="primary" style="float:right;">Register</button>
            <a routerLink=''>Cancel</a>
        </div>
    </form><br/>
    <div class="nsh-register-form-footer clear-fix">
            <p>Already have an account? Then <a routerLink='/login'>login here</a>.</p>
    </div>
    </md-card>
    </div>
</div>